body {font:400 15px/23px 'Open Sans', Arial, sans-serif;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; -o-font-smoothing:antialiased; text-rendering:optimizeSpeed;}

.wrapper {position:relative; width:100%; max-width:1100px; margin:0 auto;}
a {text-decoration:none;
	&:hover {text-decoration:underline;}
}

.left {float:left;}
.right {float:right;}

h1 {display:inline-block; font-size:36px; line-height:36px; font-weight:600; text-transform:uppercase; margin:0; padding:0 20px;}

.titleBox {position:relative; width:100%; max-width:632px; background: url(../images/divider.png) no-repeat 50% 15px; margin:0 auto 60px; text-align:center; height:80px;
		h1 {background:#FFF;}
}

#about {padding:50px 0; overflow:hidden;
	img {float:left; margin-right:60px;}
	p {line-height:23px;
		&.readMore a {text-transform:uppercase; color:#e92544;}
	}
}

#testimonials {position:relative; display:inline-block; width:100%; background:#bd8bf1; color:#FFF; text-align:center; padding:70px 0 40px;
	.wrapper {background: url(../images/testimonialBg.png) no-repeat 50% 20px;}
	h1 {background:#bd8bf1;}
	.container {width:895px; margin:0 auto; overflow:hidden;}
	.item {padding:20px 50px; font-style:italic; font-size:16px;}
	.owl-controls {float:left; width:100%; margin-top:10px;
		.owl-page {display:inline-block; border:4px solid #000; border-radius:10px; margin:10px; cursor:pointer;
			span {display:block; background:#000; width:8px; height:8px; border-radius:10px;}
			&.active span {background:#FFF;}
		}
	}
}

#ourStudio {padding:50px 0; overflow:hidden;
	.col50 {float:left; width:50%; padding:0 3% 0 10%;
		p {margin:0 0 7px;}
		ul {list-style:none; margin:0; padding:0;
			li {padding:0; margin:0 0 7px;
				&:before {content:'- ';}
			}
		}
		&.last {border-left:1px solid #e3e3e3; padding:0 3% 0 3%;
			p {padding-left:10px;}
		}
	}
	.carousel {width:100%; float:left; margin-top:80px;
		.owl-wrapper-outer {overflow:hidden;}
		.owl-controls {position:absolute; width:calc(100% + 40px); top:0; left:-70px; font-size:80px; color:#333;
			.owl-buttons > div {cursor:pointer; position:absolute; top:90px;
				&.owl-next {left:auto; right:-100px;}
				&.disabled {opacity:.3; cursor:default;}

			}
		}
		a {position:relative; display:inline-block;
			&:after {content:''; position:absolute; width:100%; height:100%; background: rgba(229,43,80,0.7); top:0; left:0; z-index:5; opacity:0; transition: opacity .5s;}
		}
		.item:hover a:after {opacity:1;}
	}
}

#freeClasses {background:#bd8bf1; color:#FFF; text-align:center; padding:30px 0;
	h2 {font-size:30px; font-weight:600; line-height:21px; text-transform:uppercase;
		a {top:-4px; position:relative; background:#132438; color:#FFF; font-size:14px; line-height:19px; padding:10px 20px; margin-left:35px; transition: all .3s linear;
			&:hover {color:#132438; background:#FFF; text-decoration:none;}
		}
	}
}

#ourTeachers {padding:50px 0; overflow:hidden;
	.carousel {
		.owl-wrapper-outer {overflow:hidden;}
		.item {position:relative; overflow:hidden;
			.hoverDiag {width:245px; height:260px; position:absolute; top:-100%; left:-100%; padding:20px 0px; z-index:777; opacity:0; transition:.6s;
				&:after {content: ""; background:#132438; position:absolute; height:200%; width:100%; top:-202px; left:-98px; z-index:-1; transform:rotate(42deg); -webkit-transform: rotate(42deg);-moz-transform: rotate(42deg); -o-transform: rotate(42deg); -ms-transform: rotate(42deg); box-shadow: 5px 5px 0px rgba(0,0,0,0.2);}
			}
			.hover {background: rgba(229,43,80,0.7); position:absolute; width:92%; height:95.2%;    top:0; left:0; z-index:2; margin:4%; opacity:0; transition:.4s;}
			h1 {color:#FFF; font-size:23px; line-height:27px;}
			h2 {font-size:12px; line-height:17px; color: #FFF; text-transform:uppercase; font-weight:500; padding:0 20px; margin:5px 0; width:125px;}
			img {padding:4%;}
			p {position:absolute; bottom:60px; color:#FFF; width:62%; margin:0 18%; text-align:center; padding:10px 5%; border:1px solid #FFF; border-width:1px 0;}
		}

		.owl-controls {position:absolute; width:calc(100% + 40px); top:0; left:-70px; font-size:80px; color:#333;
			.owl-buttons > div {cursor:pointer; position:absolute; top:170px;
				&.owl-next {left:auto; right:-100px;}
				&.disabled {opacity:.3; cursor:default;}

			}
		}
	}
	.item {
		&:hover .hover {opacity:1;}
		&:hover .hoverDiag {opacity:1; top:0; left:0;}
	}
}