body {font:400 15px/23px 'Open Sans', Arial, sans-serif;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; -o-font-smoothing:antialiased; text-rendering:optimizeSpeed;}

.wrapper {position:relative; width:100%; max-width:1100px; margin:0 auto;}
section {margin-bottom:60px;}
a {text-decoration:none;
	&:hover {text-decoration:underline;}
}

.left {float:left;}
.right {float:right;}

img {max-width:100%;
	&.left {margin-right:40px;}
}

h1 {display:inline-block; font-size:36px; line-height:36px; font-weight:600; text-transform:uppercase; margin:0; padding:0 20px;}

.titleBox {position:relative; width:100%; max-width:632px; background: url(../images/divider.png) no-repeat 50% 15px; margin:50px auto 60px; text-align:center; height:80px;
		h1 {background:#FFF;}
}

// @extend
p.description {text-align:center; font-size:17px; line-height:25px;}

// pages
.pageHeader {background:$purple; margin-bottom:50px;
	img {width:100%; max-width:auto;}
	h1 {font-weight:400; font-size:24px; color:#FFF; margin:24px 0 30px; line-height:24px;}
}

.page {margin-bottom:80px;
	h2 {font-size:28px; font-weight:600; line-height:25px; text-transform:uppercase; padding-bottom:20px;  position:absolute; top:-20px; margin:0;}
	article {padding-top:30px;
		p {font-size:14px; line-height:21px; margin-bottom:25px;
			&.description {
				@extend p.description;
				strong {display:block;}
			}
		}
		img {margin-top:20px;}
		&.withSidebar {position:relative; float:left; width:57%; margin-top:50px; padding-left:25px;
			&:before {content:''; position:absolute; left:-56px; top:0; border-bottom:1px solid #000; padding:0 20px 20px; width:110%;}
			&:after {content:''; position:absolute; border-left:1px solid #000; height:110%; top:-30px; left:0;}
		}
		&.fullWidth {margin-top:70px; padding-left:25px;
			&:before {content:''; position:absolute; left:-56px; top:0; border-bottom:1px solid #000; padding:0 20px 20px; width:110%;}
			&:after {content:''; position:absolute; border-left:1px solid #000; height:110%; top:-30px; left:0;}
		}
	}
	aside {position:relative; float:right; width:30%; margin-left:2%; margin-top:50px; padding-left:25px;
		&:before {content:''; position:absolute; left:-56px; top:0; border-bottom:1px solid #000; padding:0 20px 20px; width:118%;}
		&:after {content:''; position:absolute; border-left:1px solid #000; height:100%; top:-30px; left:0;}
	}
	&:after {content:''; display:table; clear:both;}
}

// ADT The Company
.theCompany #freeClasses {margin-bottom:0;}
.sponsorForm {background:$pink; margin-top:45px; color:#FFF; padding:20px; display:inline-block; font-size:16px; line-height:29px;
	h4 {margin:0; font-size:18px; font-weight:700;}
	p {font-size:16px; line-height:25px;}
	a {color:#FFF;}
	form {display:inline-block; width:100%;}
	.button input {background:#000; border:1px solid #000;
		&:hover {background:#FFF; color:#000; border:1px solid #FFF;}
	}
}

// Facilities
.ourFacilities {
	#freeClasses {margin-bottom:0;}
	#ourStudio {
		.carousel {margin-top:30px;}
		.titleBox {margin-top:30px;}
	}
}


ul.info {text-align:center; width:100%; list-style:none; margin:40px 0 60px; display:inline-block;
	li {float:left; width:27.3%; border-top:1px solid transparent; border-bottom:1px solid $pink; margin:0 3%; padding-bottom:20px; transition:.5s; cursor:pointer;
		&:hover {padding-top:20px; padding-bottom:0; border-top:1px solid $pink; border-bottom:1px solid transparent;}
	}
	.icon {width:78px; height:78px; background: #e7e9eb; display:table; margin:0 auto; border-radius:50%; font-size:36px; line-height:78px; margin-bottom:10px; transition:.6s;
		&:hover {background:$pink; color:#FFF;}
	}
	p {font-size:16px; color:#222; margin:5px 0; padding:0; font-weight:600;}
	a {color:$pink;}
}