#preheader {background:$pink; color:#FFF; overflow:hidden;
	i {margin-right:5px; font-size:20px;}
	p {margin-right:30px; font-size:14px;}
	span {margin-left:10px;}
	a {color:#FFF;}
	.right {
		p {margin-right:0;}
	}
}

#header {background:$darkBlue; padding:20px 0;
	.logo {float:left; width:370px;}
	nav {float:right;
		a {color:#FFF; text-decoration:none;
			&.active, &:hover {color:$pink;}
		}
	}
	ul {margin:0; padding:35px 0;
		li {display:inline-block; margin:0 10px; text-transform:uppercase;
			&:last-child {margin-right:0;}
		}
		ul {position:absolute; margin:0; padding:0; padding-top:12px; margin-left:20px; display:none;
			li {text-transform:none; margin:0;
				&:after {content:'|'; color:#FFF; margin:0 7px 0 10px;}
				&:last-child:after {content:'';}
			}
		}
		li:hover ul {display:block;}
	}
	&:after {content:''; clear:both; display:table;}
}

body.home li.home a, body.classes li.classes a, body.schedule li.schedule a {color:$pink !important;}