@media (max-width: 1120px) {
	.wrapper {padding:0 2%;}

	#preheader p {font-size:12px;}

	#header {font-size:13px;
		ul {
			li {margin:0 5px;}
		}
	}

	#classes {position:relative; width:100%; margin:0; left:0; height:auto; text-align:center; display:-webkit-flex; display:flex; z-index:1;
		.wrapper {padding:0;}
		.box {margin:0; -webkit-flex:1 1 auto; flex:1 1 auto; vertical-align:top; width:33.3333%;
			&:hover {top:0;}
		}
	}

}

@media (max-width: 981px) {
	#header {
		nav {position:relative;
			a.openNav {position:absolute; right:20px; top:30px; font-size:20px;}
			ul {position:fixed; top:0; right:-100%; text-align:right; background:$darkBlue; z-index:9; padding:25px; width:100%; transition:.5s;
				li {padding:6px 0; border-bottom:1px solid #FFF; width:100%; font-size:15px;
					&.first {font-size:20px; border-bottom:0; margin-bottom:20px;}
					ul {display:inline-block; position:relative; padding:0; width:100%; margin:6px 0 0;
						li {border-bottom:0; border-top:1px solid #FFF; text-transform:uppercase;
							&:first-child {display:none;}
							&:after {display:none;}
						}
					}
				}
				&.open {right:0;}
			}
		}
	}

	#testimonials {
		.wrapper {background:none;}
		.container {width:100%;}
	}

	ul.info {padding:0;
		li {width:94%; margin-bottom:20px;}
	}
}

@media (max-width: 820px) {
	.home {
		.progressBar {width:100%; margin-top:50px;}
	}
}

@media (max-width: 768px) {
	.wrapper {padding:0 5%;}

	#preheader .left {float:none; display:inline-block;}
	#preheader div.left, #preheader div.right {width:100%; text-align:center; padding:10px 0 0;}
	#preheader div.right {padding-bottom:10px;}
	#preheader p {margin:0 15px;}
}

@media (max-width: 680px) {
	#freeClasses {
		h2 {margin:0; font-size:20px;
			a {display:inline-block; margin:30px 80px 0; width:200px; top:auto;}
		}
	}

	#classes {
		.box {width:100%; padding:15px 5%;}
	}

	#ourStudio {
		.col50 {width:100%; padding:0 3% 10px;
			&.last {border:none;}
		}
	}

	#form {width:80%; margin:60px 10%;}

	#prefooter {
		p {font-size:20px;}
	}
}

@media (max-width: 480px) {
	#header {
		.logo {width:70%;}
		nav {
			a.openNav {top:20px;}
		}
	}
	#about {
		img {width:100%; margin:0 0 30px;}
	}
	#freeClasses {
		h2 {
			a {margin:30px 30px 0;}
		}
	}
}

@media (min-width: 980px) {
	#header {
		nav {
			a.openNav {display:none;}
			li.first {display:none;}
		}
	}
}