/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.progressBar {
  margin: 40px 0 0 30px;
  padding: 0;
  list-style: none; }
  .progressBar li {
    padding: 0;
    margin-bottom: 15px; }
  .progressBar p {
    text-transform: uppercase;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 7px; }
  .progressBar div {
    position: relative;
    display: block;
    width: 100%;
    height: 20px;
    background: #132438; }
    .progressBar div span {
      position: absolute;
      height: 100%;
      background: #e52b50 url(../images/progressBarBg.png);
      display: block; }
  .progressBar .half {
    width: 5%; }
  .progressBar .one {
    width: 10%; }
  .progressBar .one5 {
    width: 15%; }
  .progressBar .two {
    width: 20%; }
  .progressBar .two5 {
    width: 25%; }
  .progressBar .three {
    width: 30%; }
  .progressBar .three5 {
    width: 35%; }
  .progressBar .four {
    width: 40%; }
  .progressBar .four5 {
    width: 45%; }
  .progressBar .five {
    width: 50%; }
  .progressBar .five5 {
    width: 55%; }
  .progressBar .six {
    width: 60%; }
  .progressBar .six5 {
    width: 65%; }
  .progressBar .seven {
    width: 70%; }
  .progressBar .seven5 {
    width: 75%; }
  .progressBar .eight {
    width: 80%; }
  .progressBar .eight5 {
    width: 85%; }
  .progressBar .nine {
    width: 90%; }
  .progressBar .nine5 {
    width: 95%; }
  .progressBar .ten {
    width: 100%; }

.home .progressBar {
  width: 49%;
  float: left;
  margin: 0; }

#preheader {
  background: #e52b50;
  color: #FFF;
  overflow: hidden; }
  #preheader i {
    margin-right: 5px;
    font-size: 20px; }
  #preheader p {
    margin-right: 30px;
    font-size: 14px; }
  #preheader span {
    margin-left: 10px; }
  #preheader a {
    color: #FFF; }
  #preheader .right p {
    margin-right: 0; }

#header {
  background: #132438;
  padding: 20px 0; }
  #header .logo {
    float: left; }
  #header nav {
    float: right; }
    #header nav a {
      color: #FFF;
      text-decoration: none; }
      #header nav a.active, #header nav a:hover {
        color: #e52b50; }
  #header ul {
    margin: 0;
    padding: 35px 0; }
    #header ul li {
      display: inline-block;
      margin: 0 10px;
      text-transform: uppercase; }
      #header ul li:last-child {
        margin-right: 0; }
    #header ul ul {
      position: absolute;
      margin: 0;
      padding: 0;
      padding-top: 12px;
      margin-left: 20px;
      display: none; }
      #header ul ul li {
        text-transform: none;
        margin: 0; }
        #header ul ul li:after {
          content: '|';
          color: #FFF;
          margin: 0 7px 0 10px; }
        #header ul ul li:last-child:after {
          content: ''; }
    #header ul li:hover ul {
      display: block; }
  #header:after {
    content: '';
    clear: both;
    display: table; }

body.home li.home a, body.classes li.classes a, body.schedule li.schedule a {
  color: #e52b50 !important; }

#slider {
  position: relative;
  overflow: hidden; }
  #slider .owl-controls .owl-buttons > div {
    position: absolute;
    color: #FFF;
    color: rgba(255, 255, 255, 0.4);
    font-size: 100px;
    cursor: pointer;
    transition: all .5s ease-in;
    top: 40%;
    left: 5%; }
    #slider .owl-controls .owl-buttons > div:hover {
      color: rgba(255, 255, 255, 0.8); }
    #slider .owl-controls .owl-buttons > div.disabled {
      color: rgba(255, 255, 255, 0.4);
      cursor: pointer;
      pointer-events: none; }
    #slider .owl-controls .owl-buttons > div.owl-next {
      left: auto;
      right: 5%; }

#classes {
  position: absolute;
  z-index: 9;
  height: 185px;
  bottom: 0;
  width: 1100px;
  left: 50%;
  margin-left: -550px; }
  #classes .box {
    position: relative;
    float: left;
    width: 31%;
    margin: 0 1%;
    color: #FFF;
    text-align: left;
    padding: 15px 2%;
    top: 0;
    transition: all .4s ease-in-out; }
    #classes .box.ballet {
      background: #bb92ef url(../images/ballet.png) right 0;
      background-size: cover; }
    #classes .box.flamenco {
      background: #e73d5f url(../images/flamenco.png) right 0;
      background-size: cover; }
    #classes .box.jazz {
      background: #bb92ef url(../images/jazz.png) right 0;
      background-size: cover; }
    #classes .box:hover {
      top: -56px; }
    #classes .box a {
      color: #FFF;
      text-decoration: none; }
    #classes .box h2 {
      text-transform: uppercase;
      font-size: 20px; }
    #classes .box p {
      font-size: 16px;
      line-height: 25px; }
      #classes .box p.link {
        text-transform: uppercase; }

.contact #freeClasses {
  margin-bottom: 0; }

#form {
  position: relative;
  width: 550px;
  margin: 60px auto; }
  #form h3 {
    font-size: 24px;
    font-weight: 400; }
  #form .name:after {
    content: "\f007"; }
  #form .email:after {
    content: "\f0e0"; }
  #form .subject:after {
    content: "\f086"; }
  #form textarea {
    height: 200px;
    padding: 8px 30px 3px 17px; }

::-webkit-input-placeholder {
  color: #555; }

:-moz-placeholder {
  color: 555; }

::-moz-placeholder {
  color: 555; }

:-ms-input-placeholder {
  color: #555; }

#map iframe {
  pointer-events: none; }

form .button {
  margin-bottom: 10px; }
  form .button input {
    background: #e52b50;
    color: #FFF;
    transition: .3s; }
    form .button input:hover {
      background: #132438; }
form .field {
  margin-bottom: 10px;
  position: relative; }
  form .field:after {
    content: '';
    color: #d0d6d9;
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    line-height: 38px;
    font-family: FontAwesome; }
form input, form textarea {
  width: 100%;
  height: 40px;
  background: #FFF;
  border: 1px solid #DDD;
  margin: 0;
  padding: 3px 30px 3px 17px;
  color: #555;
  font-size: 14px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
  form input:focus, form textarea:focus {
    outline: none;
    border: 1px solid #bbb; }

#prefooter {
  background: #e52b50;
  text-align: center;
  color: #FFF;
  padding: 30px 0; }
  #prefooter ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none; }
    #prefooter ul li {
      display: inline-block;
      font-size: 56px;
      margin: 0 15px; }
  #prefooter p {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 10px; }
  #prefooter a {
    color: #FFF;
    transition: .3s; }
    #prefooter a:hover {
      color: #bd8bf1; }

#footer {
  background: #000;
  color: #FFF;
  text-align: center;
  padding: 40px 0; }
  #footer ul {
    margin: 0;
    padding: 0 0 15px;
    border-bottom: 1px solid #333; }
    #footer ul li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 13px;
      margin: 0 10px; }
  #footer a {
    color: #FFF; }
  #footer p {
    font-size: 12px; }

#ourSpecialties {
  text-align: center; }
  #ourSpecialties p {
    width: 70%;
    margin: 0 auto 80px; }
  #ourSpecialties .specialties {
    position: relative;
    z-index: 777;
    display: table;
    width: 80%;
    margin: 0 auto 100px; }
    #ourSpecialties .specialties:before, #ourSpecialties .specialties:after {
      content: "";
      width: 1px;
      height: 114%;
      background: #000;
      position: absolute;
      left: 0;
      right: 0;
      top: -7%;
      margin: 0 auto; }
    #ourSpecialties .specialties:before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg); }
    #ourSpecialties .specialties:after {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); }
    #ourSpecialties .specialties li {
      width: 33.3333%;
      float: left;
      display: inline-block;
      cursor: pointer; }
      #ourSpecialties .specialties li:first-child, #ourSpecialties .specialties li:last-child {
        width: 100%; }
      #ourSpecialties .specialties li .img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        display: table;
        position: relative;
        margin: 0 auto;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        background: #e52b50; }
        #ourSpecialties .specialties li .img:before, #ourSpecialties .specialties li .img:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -23px;
          margin: 0 auto;
          z-index: -1;
          width: 1px;
          height: 186px;
          background: #000;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
        #ourSpecialties .specialties li .img:before {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg); }
        #ourSpecialties .specialties li .img:after {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg); }
        #ourSpecialties .specialties li .img img {
          display: table;
          margin: auto; }
        #ourSpecialties .specialties li .img:hover {
          background: #132438;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s; }
          #ourSpecialties .specialties li .img:hover:before {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s; }
          #ourSpecialties .specialties li .img:hover:hover:after {
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s; }
      #ourSpecialties .specialties li h3 {
        font-size: 36px;
        text-transform: uppercase;
        margin: 30px 0 25px;
        text-align: center;
        font-weight: 400; }
      #ourSpecialties .specialties li p {
        font-size: 14px;
        text-align: center;
        margin: 0;
        width: 100%; }
      #ourSpecialties .specialties li.hidden {
        visibility: hidden; }

#ourTeachers {
  overflow: hidden; }
  #ourTeachers .carousel .owl-wrapper-outer {
    overflow: hidden; }
  #ourTeachers .carousel .item {
    position: relative;
    overflow: hidden; }
    #ourTeachers .carousel .item .hoverDiag {
      width: 245px;
      height: 260px;
      position: absolute;
      top: -100%;
      left: -100%;
      padding: 20px 0px;
      z-index: 777;
      opacity: 0;
      transition: .6s; }
      #ourTeachers .carousel .item .hoverDiag:after {
        content: "";
        background: #132438;
        position: absolute;
        height: 200%;
        width: 100%;
        top: -202px;
        left: -98px;
        z-index: -1;
        transform: rotate(42deg);
        -webkit-transform: rotate(42deg);
        -moz-transform: rotate(42deg);
        -o-transform: rotate(42deg);
        -ms-transform: rotate(42deg);
        box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2); }
    #ourTeachers .carousel .item .hover {
      background: rgba(229, 43, 80, 0.7);
      position: absolute;
      width: 92%;
      height: 95.2%;
      top: 0;
      left: 0;
      z-index: 2;
      margin: 4%;
      opacity: 0;
      transition: .4s; }
    #ourTeachers .carousel .item h1 {
      color: #FFF;
      font-size: 23px;
      line-height: 27px; }
    #ourTeachers .carousel .item h2 {
      font-size: 12px;
      line-height: 17px;
      color: #FFF;
      text-transform: uppercase;
      font-weight: 500;
      padding: 0 20px;
      margin: 5px 0;
      width: 125px; }
    #ourTeachers .carousel .item img {
      padding: 4%; }
    #ourTeachers .carousel .item p {
      position: absolute;
      bottom: 60px;
      color: #FFF;
      width: 62%;
      margin: 0 18%;
      text-align: center;
      padding: 10px 5%;
      border: 1px solid #FFF;
      border-width: 1px 0; }
  #ourTeachers .carousel .owl-controls {
    position: absolute;
    width: calc(100% + 40px);
    top: 0;
    left: -70px;
    font-size: 80px;
    color: #333; }
    #ourTeachers .carousel .owl-controls .owl-buttons > div {
      cursor: pointer;
      position: absolute;
      top: 170px; }
      #ourTeachers .carousel .owl-controls .owl-buttons > div.owl-next {
        left: auto;
        right: -100px; }
      #ourTeachers .carousel .owl-controls .owl-buttons > div.disabled {
        opacity: .3;
        cursor: default; }
  #ourTeachers .item:hover .hover {
    opacity: 1; }
  #ourTeachers .item:hover .hoverDiag {
    opacity: 1;
    top: 0;
    left: 0; }

#ourStudio {
  padding: 50px 0;
  overflow: hidden; }
  #ourStudio .col50 {
    float: left;
    width: 50%;
    padding: 0 3% 0 10%; }
    #ourStudio .col50 p {
      margin: 0 0 7px; }
    #ourStudio .col50 ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #ourStudio .col50 ul li {
        padding: 0;
        margin: 0 0 7px; }
        #ourStudio .col50 ul li:before {
          content: '- '; }
    #ourStudio .col50.last {
      border-left: 1px solid #e3e3e3;
      padding: 0 3% 0 3%; }
      #ourStudio .col50.last p {
        padding-left: 10px; }
  #ourStudio .carousel {
    width: 100%;
    float: left;
    margin-top: 80px; }
    #ourStudio .carousel .owl-wrapper-outer {
      overflow: hidden; }
    #ourStudio .carousel .owl-controls {
      position: absolute;
      width: calc(100% + 40px);
      top: 0;
      left: -70px;
      font-size: 80px;
      color: #333; }
      #ourStudio .carousel .owl-controls .owl-buttons > div {
        cursor: pointer;
        position: absolute;
        top: 90px; }
        #ourStudio .carousel .owl-controls .owl-buttons > div.owl-next {
          left: auto;
          right: -100px; }
        #ourStudio .carousel .owl-controls .owl-buttons > div.disabled {
          opacity: .3;
          cursor: default; }
    #ourStudio .carousel a {
      position: relative;
      display: inline-block; }
      #ourStudio .carousel a:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(229, 43, 80, 0.7);
        top: 0;
        left: 0;
        z-index: 5;
        opacity: 0;
        transition: opacity .5s; }
    #ourStudio .carousel .item:hover a:after {
      opacity: 1; }

#freeClasses {
  background: #bd8bf1;
  color: #FFF;
  text-align: center;
  padding: 30px 0; }
  #freeClasses h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 21px;
    text-transform: uppercase; }
    #freeClasses h2 a {
      top: -4px;
      position: relative;
      background: #132438;
      color: #FFF;
      font-size: 14px;
      line-height: 19px;
      padding: 10px 20px;
      margin-left: 35px;
      transition: all .3s linear; }
      #freeClasses h2 a:hover {
        color: #132438;
        background: #FFF;
        text-decoration: none; }

#about {
  overflow: hidden; }
  #about img {
    width: 40%; }
  #about p {
    line-height: 23px; }
    #about p.readMore a {
      text-transform: uppercase;
      color: #e92544; }

#testimonials {
  position: relative;
  display: inline-block;
  width: 100%;
  background: #bd8bf1;
  color: #FFF;
  text-align: center;
  padding: 70px 0 40px;
  margin-bottom: 0; }
  #testimonials .wrapper {
    background: url(../images/testimonialBg.png) no-repeat 50% 20px; }
  #testimonials h1 {
    background: #bd8bf1; }
  #testimonials .container {
    width: 790px;
    margin: 0 auto;
    overflow: hidden; }
  #testimonials .item {
    padding: 20px 50px;
    font-style: italic;
    font-size: 16px; }
  #testimonials .owl-controls {
    float: left;
    width: 100%;
    margin-top: 10px; }
    #testimonials .owl-controls .owl-page {
      display: inline-block;
      border: 4px solid #000;
      border-radius: 10px;
      margin: 10px;
      cursor: pointer; }
      #testimonials .owl-controls .owl-page span {
        display: block;
        background: #000;
        width: 8px;
        height: 8px;
        border-radius: 10px; }
      #testimonials .owl-controls .owl-page.active span {
        background: #FFF; }

body {
  font: 400 15px/23px 'Open Sans', Arial, sans-serif; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeSpeed; }

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

section {
  margin-bottom: 60px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.left {
  float: left; }

.right {
  float: right; }

img {
  max-width: 100%; }
  img.left {
    margin-right: 40px; }

h1 {
  display: inline-block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 0 20px; }

.titleBox {
  position: relative;
  width: 100%;
  max-width: 632px;
  background: url(../images/divider.png) no-repeat 50% 15px;
  margin: 50px auto 60px;
  text-align: center;
  height: 80px; }
  .titleBox h1 {
    background: #FFF; }

p.description, .page article p.description {
  text-align: center;
  font-size: 17px;
  line-height: 25px; }

.pageHeader {
  background: #bd8bf1;
  margin-bottom: 50px; }
  .pageHeader img {
    width: 100%;
    max-width: auto; }
  .pageHeader h1 {
    font-weight: 400;
    font-size: 24px;
    color: #FFF;
    margin: 24px 0 30px;
    line-height: 24px; }

.page {
  margin-bottom: 80px; }
  .page h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: absolute;
    top: -20px;
    margin: 0; }
  .page article {
    padding-top: 30px; }
    .page article p {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 25px; }
      .page article p.description strong {
        display: block; }
    .page article img {
      margin-top: 20px; }
    .page article.withSidebar {
      position: relative;
      float: left;
      width: 57%;
      margin-top: 50px;
      padding-left: 25px; }
      .page article.withSidebar:before {
        content: '';
        position: absolute;
        left: -56px;
        top: 0;
        border-bottom: 1px solid #000;
        padding: 0 20px 20px;
        width: 110%; }
      .page article.withSidebar:after {
        content: '';
        position: absolute;
        border-left: 1px solid #000;
        height: 110%;
        top: -30px;
        left: 0; }
    .page article.fullWidth {
      margin-top: 70px;
      padding-left: 25px; }
      .page article.fullWidth:before {
        content: '';
        position: absolute;
        left: -56px;
        top: 0;
        border-bottom: 1px solid #000;
        padding: 0 20px 20px;
        width: 110%; }
      .page article.fullWidth:after {
        content: '';
        position: absolute;
        border-left: 1px solid #000;
        height: 110%;
        top: -30px;
        left: 0; }
  .page aside {
    position: relative;
    float: right;
    width: 30%;
    margin-left: 2%;
    margin-top: 50px;
    padding-left: 25px; }
    .page aside:before {
      content: '';
      position: absolute;
      left: -56px;
      top: 0;
      border-bottom: 1px solid #000;
      padding: 0 20px 20px;
      width: 118%; }
    .page aside:after {
      content: '';
      position: absolute;
      border-left: 1px solid #000;
      height: 100%;
      top: -30px;
      left: 0; }
  .page:after {
    content: '';
    display: table;
    clear: both; }

.theCompany #freeClasses {
  margin-bottom: 0; }

.sponsorForm {
  background: #e52b50;
  margin-top: 45px;
  color: #FFF;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  line-height: 29px; }
  .sponsorForm h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 700; }
  .sponsorForm p {
    font-size: 16px;
    line-height: 25px; }
  .sponsorForm a {
    color: #FFF; }
  .sponsorForm form {
    display: inline-block;
    width: 100%; }
  .sponsorForm .button input {
    background: #000;
    border: 1px solid #000; }
    .sponsorForm .button input:hover {
      background: #FFF;
      color: #000;
      border: 1px solid #FFF; }

.ourFacilities #freeClasses {
  margin-bottom: 0; }
.ourFacilities #ourStudio .carousel {
  margin-top: 30px; }
.ourFacilities #ourStudio .titleBox {
  margin-top: 30px; }

ul.info {
  text-align: center;
  width: 100%;
  list-style: none;
  margin: 40px 0 60px;
  display: inline-block; }
  ul.info li {
    float: left;
    width: 27.3%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #e52b50;
    margin: 0 3%;
    padding-bottom: 20px;
    transition: .5s;
    cursor: pointer; }
    ul.info li:hover {
      padding-top: 20px;
      padding-bottom: 0;
      border-top: 1px solid #e52b50;
      border-bottom: 1px solid transparent; }
  ul.info .icon {
    width: 78px;
    height: 78px;
    background: #e7e9eb;
    display: table;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 36px;
    line-height: 78px;
    margin-bottom: 10px;
    transition: .6s; }
    ul.info .icon:hover {
      background: #e52b50;
      color: #FFF; }
  ul.info p {
    font-size: 16px;
    color: #222;
    margin: 5px 0;
    padding: 0;
    font-weight: 600; }
  ul.info a {
    color: #e52b50; }

.row:after {
  content: '';
  display: table;
  clear: both; }

#classInfo {
  color: #FFF;
  margin-top: 70px; }
  #classInfo .purple {
    background: #bd8bf1; }
  #classInfo .pink {
    background: #e52b50; }
  #classInfo .black {
    background: #000; }
  #classInfo h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #000;
    padding-bottom: 6px; }
  #classInfo a {
    color: #FFF;
    display: block;
    text-transform: uppercase;
    margin-top: 20px; }
  #classInfo .item {
    position: relative;
    width: 100%;
    margin-bottom: 20px; }
    #classInfo .item:after {
      content: '';
      display: table;
      clear: both; }
  #classInfo .col4, #classInfo .col6 {
    float: left; }
    #classInfo .col4 .classInfo, #classInfo .col6 .classInfo {
      position: absolute;
      height: 100%;
      padding: 1.5% 3%; }
  #classInfo .col4 {
    width: 40%; }
    #classInfo .col4:first-of-type {
      padding-right: 10px; }
    #classInfo .col4:last-of-type {
      padding-left: 10px; }
    #classInfo .col4 .classInfo {
      width: 50%; }
  #classInfo .col6 {
    width: 60%; }
    #classInfo .col6:first-of-type {
      padding-right: 10px; }
    #classInfo .col6:last-of-type {
      padding-left: 10px; }
    #classInfo .col6 .classInfo {
      width: 33%; }
  #classInfo .left .classInfo {
    right: 0; }
  #classInfo .left img {
    float: left; }
  #classInfo .right .classInfo {
    left: 0; }
  #classInfo .right img {
    float: right; }
  #classInfo .black h3 {
    border-bottom-color: #e52b50; }

#theTeachers .info {
  width: 100%;
  max-width: 550px;
  padding: 4%;
  color: #FFF;
  text-align: center; }
  #theTeachers .info h3, #theTeachers .info h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    margin: 0; }
  #theTeachers .info h3 {
    font-size: 22px;
    border-bottom: 1px solid #000;
    padding-bottom: 15px; }
  #theTeachers .info h4 {
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 20px; }
  #theTeachers .info p {
    text-align: left; }
#theTeachers .imgLeft .image {
  float: right; }
#theTeachers .imgLeft .info {
  float: left; }
#theTeachers .imgRight .image {
  float: left; }
#theTeachers .imgRight .info {
  float: right; }
#theTeachers .col5 {
  float: left;
  width: 50%; }
  #theTeachers .col5 .image {
    width: 100%;
    max-width: 550px;
    position: relative; }
    #theTeachers .col5 .image img {
      float: left; }
    #theTeachers .col5 .image ul {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(189, 139, 241, 0.6);
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0; }
      #theTeachers .col5 .image ul li {
        display: inline-block;
        font-size: 23px;
        padding: 0;
        margin: 12px 3px; }
        #theTeachers .col5 .image ul li a {
          color: #FFF;
          padding: 2px 4px; }
          #theTeachers .col5 .image ul li a:hover {
            color: #e52b50;
            transition: .5s; }
#theTeachers .pink {
  background: #e52b50; }
#theTeachers .black {
  background: #000; }
  #theTeachers .black h3 {
    border-bottom: 1px solid #e52b50; }

@media (max-width: 1120px) {
  .wrapper {
    padding: 0 2%; }

  #preheader p {
    font-size: 12px; }

  #header {
    font-size: 13px; }
    #header ul li {
      margin: 0 5px; }

  #classes {
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    height: auto;
    text-align: center; }
    #classes .wrapper {
      padding: 0; }
    #classes .box {
      margin: 0;
      float: none;
      display: inline-block;
      width: 33%; }
      #classes .box:hover {
        top: 0; } }
@media (max-width: 980px) {
  #header nav {
    position: relative; }
    #header nav a.openNav {
      position: absolute;
      right: 20px;
      top: 30px;
      font-size: 20px; }
    #header nav ul {
      position: absolute;
      top: 30px;
      right: 0;
      text-align: right;
      background: #132438;
      z-index: 9;
      padding: 25px;
      display: none; }
      #header nav ul li {
        padding: 6px 0;
        border-bottom: 1px solid #FFF;
        width: 100%; } }
@media (max-width: 768px) {
  #preheader .left {
    float: none;
    display: inline-block; }

  #preheader div.left, #preheader div.right {
    width: 100%;
    text-align: center;
    padding: 10px 0 0; }

  #preheader div.right {
    padding-bottom: 10px; }

  #preheader p {
    margin: 0 15px; } }
@media (min-width: 980px) {
  #header nav a.openNav {
    display: none; } }

/*# sourceMappingURL=style.css.map */
