footer
	#prefooter
		.wrapper
			p Follow Us:
			ul
				li
					a(href='https://www.facebook.com/groups/39155948914/', target='_blank') <i class="fa fa-facebook"></i>
				li
					a(href='https://www.instagram.com/artisticdancecenter/', target='_blank') <i class="fa fa-instagram"></i>
	#footer
		.wrapper
			nav
				ul
					li
						a.active(href='/') Home
					li
						a(href='classes.html') Classes
					li
						a(href='schedule.html') Schedule
					li
						a(href='about-adc.html') About ADC
					li
						a(href='adc-alumni.html') ADC ALUMNI
					li
						a(href='adt-the-company.html') ADT - The Company
					li
						a(href='contact-us.html') Contact Us
			p.disclaimer © 2015 Artistic Dance Center.  All rights reserved.