footer
	#prefooter
		.wrapper
			p Follow Us:
			ul
				li
					a(href='#') <i class="fa fa-facebook"></i>
				li
					a(href='#') <i class="fa fa-instagram"></i>
	#footer
		.wrapper
			nav
				ul
					li
						a(href='#') Home
					li
						a(href='#') Classes
					li
						a(href='#') Schedule
					li
						a(href='#') About ADC
					li
						a(href='#') Events
					li
						a(href='#') ADC - The Company
					li
						a(href='#') Contact Us
			p.disclaimer © 2015 Artistic Dance Center.  All rights reserved.