header
	#preheader
		.wrapper
			.left
				p.phone.left
					i.fa.fa-phone
					Call Us: 305-471-4994
				p.email.left
					i.fa.fa-envelope
					| Email Us: 
					a(href='mailto:info@artisticdancecenter.com') info@artisticdancecenter.com
			.right
				p.hours
					i.fa.fa-envelope
					| Mon-Fri: 4:30 -10:00
					span Saturday: 9:30 - 12:00

	#header
		.wrapper
			.logo
				img(src='images/logo.png', alt='Artistic Dance Center')
			nav
				ul
					li
						a.active(href='#') Home
					li
						a(href='#') Classes
					li
						a(href='#') Schedule
					li
						a(href='#') About ADC
					li
						a(href='#') Events
					li
						a(href='#') ADC - The Company
					li
						a(href='#') Contact Us