header
	#preheader
		.wrapper
			.left
				p.phone.left
					i.fa.fa-phone
					Call Us: 305-471-4994
				p.email.left
					i.fa.fa-envelope
					| Email Us: 
					a(href='mailto:info@artisticdancecenter.com') info@artisticdancecenter.com
			.right
				p.hours
					i.fa.fa-calendar
					| Mon-Fri: 4:30 -10:00
					span Saturday: 9:30 - 12:00

	#header
		.wrapper
			.logo
				a(href='/')
					img(src='images/logo.png', alt='Artistic Dance Center')
			nav
				ul
					li
						a.active(href='/') Home
					li
						a(href='classes.html') Classes
					li
						a(href='schedule.html') Schedule
					li
						a(href='about-adc.html') About ADC
						ul
							li
								a(href='about-adc.html') About Us
							li
								a(href='our-teachers.html') Our Teachers
							li
								a(href='our-facilities.html') Our Facilities
					li
						a(href='events.html') Events
					li
						a(href='adt-the-company.html') ADT - The Company
					li
						a(href='contact-us.html') Contact Us