header
	#preheader
		.wrapper
			.left
				p.phone.left
					i.fa.fa-phone
					Call Us: 305-471-4994
				p.email.left
					i.fa.fa-envelope
					| Email Us: 
					a(href='mailto:info@artisticdancecenter.com') info@artisticdancecenter.com
			.right
				p.hours
					i.fa.fa-calendar
					| Mon-Fri: 3:30 pm-8:30 pm
					span Saturday: 9:00 am-1:00 pm

	#header
		.wrapper
			.logo
				a(href='index.html')
					img(src='images/logo.png', alt='Artistic Dance Center')
			nav
				a(href='#').openNav
					i.fa.fa-bars
				ul
					li.first
						a(href='#').closeNav
							i.fa.fa-times
					li.home
						a(href='index.html') Home
					li.classes
						a(href='classes.html') Classes
					li.schedule
						a(href='schedule.html') Schedule
					li.aboutADC
						a(href='about-adc.html') About ADC
						ul
							li
								a(href='about-adc.html') About Us
							li
								a(href='our-teachers.html') Our Teachers
							li
								a(href='our-facilities.html') Our Facilities
					li.events
						a(href='adc-alumni.html') ALUMNI
					li.thecompany
						a(href='adt-the-company.html') ADT - The Company
					li.contact
						a(href='contact-us.html') Contact Us