#slider
	.owl-carousel.owl-theme
		.slide
			a(href='#')
				img(src='images/slider1.jpg', alt='slider 1')
		.slide
			a(href='#')
				img(src='images/slider2.jpg', alt='slider 2')
		.slide
			a(href='#')
				img(src='images/slider3.jpg', alt='slider 3')

	#classes
		.wrapper
			.box.ballet
				a(href='#')
					h2 Ballet
					p The class begins with slow, controlled classical exercises at the barre and gradually builds up to faster movements which need more energy.
					p.link Learn more
			.box.flamenco
				a(href='#')
					h2 Flamenco
					p Flamenco dancing is an incredibly emotive dance style, with the dancer always striving to express his or her emotions through movement.
					p.link Learn more
			.box.jazz
				a(href='#')
					h2 Jazz
					p Jazz is a form of modern dance heavily influenced by the sounds, rhythms, and techniques of jazz music. Most jazz dancers start out in the field of ballet. 
					p.link Learn more