
<footer>
  <div id="prefooter">
    <div class="wrapper">
      <p>Follow Us:</p>
      <ul>
        <li><a href="https://www.facebook.com/groups/39155948914/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/artisticdancecenter/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  <div id="footer">
    <div class="wrapper">
      <nav>
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="classes.html">Classes</a></li>
          <li><a href="schedule.html">Schedule</a></li>
          <li><a href="about-adc.html">About ADC</a></li>
          <li><a href="adc-alumni.html">ADC ALUMNI</a></li>
          <li><a href="adt-the-company.html">ADT - The Company</a></li>
          <li><a href="contact-us.html">Contact Us</a></li>
        </ul>
      </nav>
      <p class="disclaimer">© 2015 Artistic Dance Center.  All rights reserved.</p>
    </div>
  </div>
</footer>