
<header>
  <div id="preheader">
    <div class="wrapper">
      <div class="left">
        <p class="phone left"><i class="fa fa-phone"></i>
          <Call>Us: 305-471-4994</Call>
        </p>
        <p class="email left"><i class="fa fa-envelope"></i>Email Us: <a href="mailto:info@artisticdancecenter.com">info@artisticdancecenter.com</a></p>
      </div>
      <div class="right">
        <p class="hours"><i class="fa fa-calendar"></i>Mon-Fri: 4:30 -10:00<span>Saturday: 9:30 - 12:00</span></p>
      </div>
    </div>
  </div>
  <div id="header">
    <div class="wrapper">
      <div class="logo"><a href="/"><img src="images/logo.png" alt="Artistic Dance Center"/></a></div>
      <nav>
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="#">Classes</a></li>
          <li><a href="#">Schedule</a></li>
          <li><a href="/about-adc.html">About ADC</a>
            <ul>
              <li><a href="/about-adc.html">About Us</a></li>
              <li><a href="#">Our Teachers</a></li>
              <li><a href="#">Our Facilities</a></li>
            </ul>
          </li>
          <li><a href="#">Events</a></li>
          <li><a href="#">ADC - The Company</a></li>
          <li><a href="/contact-us.html">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>