
<div id="slider">
  <div class="owl-carousel owl-theme">
    <div class="slide"><a href="#"><img src="images/slider1.jpg" alt="slider 1"/></a></div>
    <div class="slide"><a href="#"><img src="images/slider2.jpg" alt="slider 2"/></a></div>
    <div class="slide"><a href="#"><img src="images/slider3.jpg" alt="slider 3"/></a></div>
  </div>
  <div id="classes">
    <div class="wrapper">
      <div class="box ballet"><a href="#">
          <h2>Ballet</h2>
          <p>The class begins with slow, controlled classical exercises at the barre and gradually builds up to faster movements which need more energy.</p>
          <p class="link">Learn more</p></a></div>
      <div class="box flamenco"><a href="#">
          <h2>Flamenco</h2>
          <p>Flamenco dancing is an incredibly emotive dance style, with the dancer always striving to express his or her emotions through movement.</p>
          <p class="link">Learn more</p></a></div>
      <div class="box jazz"><a href="#">
          <h2>Jazz</h2>
          <p>Jazz is a form of modern dance heavily influenced by the sounds, rhythms, and techniques of jazz music. Most jazz dancers start out in the field of ballet. </p>
          <p class="link">Learn more</p></a></div>
    </div>
  </div>
</div>