doctype html
html(lang="en")
	head
		title Artistic Dance Center
		link(href='css/vendor/font-awesome.min.css', rel='stylesheet')
		link(href='css/style.min.css', rel='stylesheet')
		link(href='css/vendor/owl.carousel.min.css', rel='stylesheet')
		link(href='css/vendor/owl.transition.min.css', rel='stylesheet')

		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(name='author' content='Fernanda Sampaio')
		link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
	body.contact
		include ./partials/header.jade

		section.page
			.pageHeader
				img(src='images/header/contact.jpg')
				.wrapper
					h1 Contact Us

			.wrapper
				article
					p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						strong Come by our studios for a visit!

					ul.info
						li
							.icon
								i.fa.fa-map-marker
							p 10181 NW 58 St. #13, Miami, FL 33178
						li
							.icon
								i.fa.fa-envelope
							p
								a(href='mailto:info@artisticdancecenter.com') info@artisticdancecenter.com
						li
							.icon
								i.fa.fa-phone
							p 305-471-4994

			#map
				iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14565.727467353508!2d-80.36976017499218!3d25.826682916801204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9bbf9fa52d5d3%3A0x5abf9ca38b785642!2s10181+NW+58th+St+%2313%2C+Miami%2C+FL+33178%2C+USA!5e0!3m2!1spt-BR!2sbr!4v1448847441691' width='100%' height='450' frameborder='0' allowfullscreen)

			#form
				h3 Send Us A Message

				form(action'', method='post')
					.field.name
						input(type='text', name='name', id='name', placeholder='Your name')
					.field.email
						input(type='text', name='email', id='email', placeholder='Email')
					.field.subject
						input(type='text', name='subject', id='subject', placeholder='Subject')
					.field
						textarea(type='text', name='message', id='message', placeholder='Message')
					.button
						input(type='submit', name='submit', value='Submit').submitBtn

		
		include ./partials/free_classes.jade		
		include ./partials/footer.jade


		script(src='scripts/vendor/jquery-2.min.js')
		script(src='scripts/vendor/owl.min.js')
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyANzYcPqVZeuqW61df2PF2By_gLYrRVl9w&callback=initMap' async defer)
		script(src='scripts/scripts.min.js')
