doctype html
html(lang="en")
	head
		title Artistic Dance Center
		link(href='css/vendor/font-awesome.min.css', rel='stylesheet')
		link(href='css/style.min.css', rel='stylesheet')
		link(href='css/vendor/owl.carousel.min.css', rel='stylesheet')
		link(href='css/vendor/owl.transition.min.css', rel='stylesheet')

		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(name='author' content='Fernanda Sampaio')

	body.home
		include ./partials/header.jade
		include ./partials/slider.jade

		section#about
			.wrapper
				.titleBox
					h1 About ADC
				img(src='images/aboutADC.jpg', alt='About ADC').left
				p Artistic Dance Center (ADC), was established in Doral, FL under the direction and vision of Elizabeth Acuña Nuevo. Since its establishment in May of 2003, it has trained it's students for professional careers in ballet and other dance forms. In 2006, Lissette Salgado Lucas joined the staff at ADC, later to become the Assistant Director of the school. Artistic Dance Center has become an independent institution focusing intensely on its mission of excellence in dance education. The School has an enrollment of more than 250 students. Students at ADC receive the opportunity to train with an experienced and dedicated faculty as well as guest educators from around the world. The School launched the Summer Intensive Program in July 2003 as well as it's Summer Dance Camp for the young dancer. The Summer Program has drawn dancers from all around the country and International students from Italy, Mexico, Venezuela, Japan and more. 
				p.readMore
					a(href='#') Read more

				ul.progressBar
					li
						p Ballet 95%
						div.percentage
							span.nine5
					li
						p Ponite 95%
						div.percentage
							span.nine5
					li
						p Flamenco 70%
						div.percentage
							span.seven
					li
						p Hip Hop 75%
						div.percentage
							span.seven5
					li
						p Jazz 85%
						div.percentage
							span.eight5
					li
						p Tumbling 80%
						div.percentage
							span.eight
					li
						p Aerial 55%
						div.percentage
							span.five5
					li
						p Intensive Program 25%
						div.percentage
							span.two5
					li
						p Stretch 30%
						div.percentage
							span.three

		section#testimonials
			.wrapper
				h1 Testimonials
				.container
					.item
						p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.
						p.author - John Doe
					.item
						p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.
						p.author - Regina Phalange
					.item
						p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.
						p.author - Art Vandelay

		section#ourStudio
			.wrapper
				.titleBox
					h1 Our Studio
				.col50
					p Our studios have:
					ul
						li The latest technology in wooden floor for dancers with state-of-the-art sub-floors for shock absorption &amp; a resilient athletic surface.
						li 2nd floor Observation Deck and waiting area
						li High ceilings
						li State-of-the-art sound system
						li Dressing room
				.col50.last
					ul
						li Up to 3 Studios
					p Studio A: 20' x 30'
					p Studio B: 27' x 34'
					p Studio C: 27' x 26'
					p Studio BC: 60' x 27'
					p Studios B &amp; C are divided with a sound-proof partition that can be opened to create a stage sized studio of 60' x 27'.
				.carousel.owl-carousel
					.item
						a(href='#')
							img(src='https://unsplash.it/370/290?image=10')
					.item
						a(href='#')
							img(src='https://unsplash.it/370/290?image=31')
					.item
						a(href='#')
							img(src='https://unsplash.it/370/290?image=52')
					.item
						a(href='#')
							img(src='https://unsplash.it/370/290?image=73')
					.item
						a(href='#')
							img(src='https://unsplash.it/370/290?image=94')
					.item
						a(href='#')
							img(src='https://unsplash.it/370/290?image=115')
					.item
						a(href='#')
							img(src='https://unsplash.it/370/290?image=136')
					.item
						a(href='#')
							img(src='https://unsplash.it/370/290?image=157')
					.item
						a(href='#')
							img(src='https://unsplash.it/370/290?image=179')
					.item
						a(href='#')
							img(src='https://unsplash.it/370/290?image=219')

		include ./partials/free_classes.jade

		section#ourTeachers
			.wrapper
				.titleBox
					h1 Our Teachers

				p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

				.carousel
					#instafeed
					.item
						a(href='#')
							.hoverDiag
								h1 Name of the teacher
								h2 Professional positions of the teacher
							.hover
								p More Details About this Teacher
							img(src='images/teachers/teacher1.jpg')
					.item
						a(href='#')
							.hoverDiag
								h1 Name of the teacher
								h2 Professional positions of the teacher
							.hover
								p More Details About this Teacher
							img(src='images/teachers/teacher4.jpg')
					.item
						a(href='#')
							.hoverDiag
								h1 Name of the teacher
								h2 Professional positions of the teacher
							.hover
								p More Details About this Teacher
							img(src='images/teachers/teacher3.jpg')
					.item
						a(href='#')
							.hoverDiag
								h1 Name of the teacher
								h2 Professional positions of the teacher
							.hover
								p More Details About this Teacher
							img(src='images/teachers/teacher4.jpg')
					.item
						a(href='#')
							.hoverDiag
								h1 Name of the teacher
								h2 Professional positions of the teacher
							.hover
								p More Details About this Teacher
							img(src='images/teachers/teacher1.jpg')
					.item
						a(href='#')
							.hoverDiag
								h1 Name of the teacher
								h2 Professional positions of the teacher
							.hover
								p More Details About this Teacher
							img(src='images/teachers/teacher3.jpg')
					.item
						a(href='#')
							.hoverDiag
								h1 Name of the teacher
								h2 Professional positions of the teacher
							.hover
								p More Details About this Teacher
							img(src='images/teachers/teacher4.jpg')



		include ./partials/footer.jade

		script(src='scripts/vendor/jquery-2.min.js')
		script(src='scripts/vendor/owl.min.js')
		script(src='scripts/vendor/instafeed.min.js')
		script(src='scripts/scripts.min.js')