doctype html
html(lang="en")
	head
		title Artistic Dance Center
		link(href='/css/vendor/font-awesome.min.css', rel='stylesheet')
		link(href='/css/style.min.css', rel='stylesheet')
		script(src='/scripts/scripts.min.js')
	body
		include ./partials/header.jade